<div class="container">
	<div class="row" >
		<div class="col-md-6 col-md-offset-3">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-6">
					<h2 class="active" id="login-form-link">Recover Account</h2>
				</div>
			</div>
			<hr>
			<div ng-show="!status" class="alert alert-danger" role="alert">
		  		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" />
		  		<span class="sr-only">Error:</span>
		  		{{errorMessage}}
			</div>
		</div>
		<form name="recoverAccountForm" ng-submit="RecoverAccount(RecoverAccount.$valid)" novalidate>

			<!-- Email -->
		    <div class="form-group" ng-class="{ 'has-error' : recoverAccountForm.email.$invalid && !recoverAccountForm.email.$pristine }">
		        <label for="inputEmail">Email</label>
		        <input type="email" name="email" tabindex="1" class="form-control" placeholder="Email" ng-model="recoverAccount.email" required>
		        <div class="error-container" ng-show="recoverAccountForm.email.$invalid && !recoverAccountForm.email.$pristine">
			    <small class="error" 
			        ng-show="recoverAccountForm.email.$error.required">
			        Your email is required.
			    </small>
 				<small class="error" ng-show="recoverAccountForm.email.$error.email">
             		That is not a valid email. Please input a valid email.
      			</small>
			  </div>		        
		    </div>

			<button type="submit" class="btn btn-primary" ng-disabled="recoverAccountForm.$invalid">Recover Account</button>
		</form>
		<hr>
		</div>
	</div>
</div>
