<div ng-show="Id==2" class="container-fluid">
	
	<div class="col-xs-12 col-sm-6 col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title content-center">{{exposantForm.panelTitleCenter}}</h3></div>
			
			<div class="panel-body">
				<h2 class="label label-success">{{exposantForm.labelSearchToolbar}}</h2>
				<input type="text" class="form-control" ng-model="query">
			</div>

			<div class="panel-body">
				<div ng-repeat="item in exposants | filter:query">
					<div class="alert alert-success">
						<div class="col-xs-6">
							<h3>{{item.name}}</h3>
							<span class="glyphicon glyphicon-hand-right" aria-hidden="true"> {{item.type}}</span>
							<p>{{item.description}}</p>
						</div>
						<div class="col-xs-6">
							<div ng-show="item.telephone != ''"><p class="label label-success"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> {{item.telephone}}</p></div>
							<div ng-show="item.portable != ''"><p class="label label-warning"><span class="glyphicon glyphicon-phone glyphicon-exposant" aria-hidden="true"></span> {{item.portable}}</p></div>
							<div ng-show="item.fax != ''"><p class="label label-primary"><span class="glyphicon glyphicon-copy glyphicon-exposant" aria-hidden="true"></span> {{item.fax}}</p></div>
							<div ng-show="item.mail != ''"><p class="label label-danger"><span class="glyphicon glyphicon-envelope glyphicon-exposant" aria-hidden="true"></span> {{item.mail}}</p></div>
							<div ng-show="item.webSite != ''"><p class="label label-info"><span class="glyphicon glyphicon-globe glyphicon-exposant" aria-hidden="true"></span> <a ng-href="{{item.webSite}}" target="blank">{{item.webSite}}</a></p></div>
							<div ng-show="item.address.postalCode != ''"><p class="label label-default"><span class="glyphicon glyphicon-home glyphicon-exposant" aria-hidden="true"></span>
							<span ng-show="item.address.firstLine != ''">{{item.address.firstLine}}<br /></span>
							<span ng-show="item.address.secondLine != ''">{{item.address.secondLine}}<br /></span>
							<span ng-show="item.address.postalCode != ''">{{item.address.postalCode}}</span> <span ng-show="item.address.city != ''">{{item.address.city}}</span></p></div>
						</div>	

						<div class="row"></div>							
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-6 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title content-center">{{exposantForm.panelRightTitle}}</h3></div>
			<div class="panel-body content-center">
				<a ng-href="download/Dossier inscription salon habitat 2016.pdf" target="_blank"><img class="dashboard-download" src="img/icones/PDF-Icone.jpg" alt="Download"><br /><span class="label label-success">{{exposantForm.panelRightLabelDownload}}</span></a>
			</div>
			<div class="panel-body"><p class="alert alert-success dashboard-description">{{exposantForm.panelRightDescription}}</p></div>
		</div>
	</div>

</div>