@import '../bower_components/components-font-awesome/less/font-awesome.less';
@import '../bower_components/bootstrap/less/bootstrap.less';
@import 'font-museo-sans.less';

@fa-font-path: "../fonts";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../fonts/glyphicons-halflings-regular.svg#@{icon-font-svg-id}') format('svg');
}

/*******************************/
/*          VARIABLES          */
/*******************************/
/****** COLORS ******/
@green-salon-color: #B0C45E;
@brown-salon-color: #401600;

/****** FONTS ******/
.font-navbar-inverse {
	font-family: @museo-font-name;
	font-weight: 500;
	color: white;
	font-size: 15px;
}

.font-panel-title {
	font-family: @museo-font-name;
	font-weight: 500;
	color: white;
	font-size: 20px;	
}

.font-body {
	font-family: @museo-font-name;
	font-weight: 300;
	font-size: 15px;	
}
/*******************************/

body {
	.font-body;
	padding-left: 20px;
	padding-right: 20px;
}

.banniere-header{
	width: 100%;
	margin-bottom: 5px;
}

.nav-logo {
	width: 186px;
}

.navbar-inverse{
	border-color: @green-salon-color;
	background-color: @green-salon-color;
	.navbar-nav {
		li {
			a {				
				.font-navbar-inverse;
				&:focus {
					color: @green-salon-color;
					background-color: @brown-salon-color;
				}
				&:hover {
					color: @green-salon-color;
					background-color: @brown-salon-color;
				}
			}			
		}
		open {
			&:focus {
				background-color: @green-salon-color;
			}
			&:hover {
				background-color: @green-salon-color;
			}
		}		
	}
	.navbar-text{
		color: @green-salon-color;
	}
}

.dropdown-menu{
	background-color: @brown-salon-color;
	li {
		a {
			&:hover, &:focus {
				color: white;
				background-color: transparent;
			}
		}
	}
}

.glyphicon-brand {
	color: white;
}

.label-horaire {
   /* display: inline;*/
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.footer{
	background-color: @green-salon-color;
	color: @brown-salon-color;
	width: 100%;
}

.footer-panel{
	background-color: @green-salon-color;
	border: none;
	color: white;
}

.footer-sponsor{
	width: 150px;
	height: 77px;
}

.footer-body{
	color: @green-salon-color;
	font-size: 12px;
}

.footer-copyright{
	color: @brown-salon-color;
	font-size: 12px;
	margin-left: 5px;
}

.footer-address{
	text-indent: 18px;
}

.footer-ul{
	padding: 0; 
	list-style-type: none;
}

.glyphicon-footer{
	color: @brown-salon-color;
	margin-right: 5px;
}

.panel-default{
	margin-top: 20px;
}

.panel-default > .panel-heading{
	background-color: @green-salon-color;
	color: @green-salon-color;
}

.panel-title {
	color: white;
	font-size: 20px;
}

.dashboard-description{
	text-align: justify;
}

.dashboard-plan{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.dashboard-download{
	width: 50px;
	height: 50px;
}

.dashboard-horaire{
	font-size: 14px;
}

.dashboard-event{
	font-style: italic;
	font-size: 14px;
}

.content-center{
	text-align: center;
}

.required{
	color: red;
	font-size: 18px;
}

.glyphicon-exposant{
	color: white;
}

.notice-salon-success {
	background-color: @brown-salon-color;
}

.map {
	width: 100%;
	height: 300px;
}

.movie-page{
	margin-top: 20px;
}

