<div class="col-xs-12 col-sm-4 col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title content-center">{{ 'TIME.TITLE' | translate }}</h3></div>
		<div class="panel-body">
			<aside>
				<ul class="footer-ul">
					<li class="label-horaire label-info dashboard-horaire">{{ 'TIME.LINE1' | translate }}</li>
					<li class="label-horaire label-warning dashboard-event">{{ 'TIME.LINE2' | translate }}</li>
					<li class="label-horaire label-info dashboard-horaire">{{ 'TIME.LINE3' | translate }}</li>
					<li class="label-horaire label-info dashboard-horaire">{{ 'TIME.LINE4' | translate }}</li>
					<li class="label-horaire label-warning dashboard-event">{{ 'TIME.LINE5' | translate }}</li>
				</ul>
			</aside>
		</div>
	</div>
</div>