<div class="col-xs-12 col-sm-4 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title content-center">
        {{ "DOWNLOAD-PANEL.TITLE" | translate }}
      </h3>
    </div>
    <div class="panel-body content-center">
      <a
        ng-href="download/Dossier inscription salon habitat 2020.pdf"
        target="_blank"
        ><img
          class="dashboard-download"
          src="img/icones/PDF-Icone.jpg"
          alt="Download"
        /><br /><span class="label label-success">{{
          "DOWNLOAD-PANEL.BUTTON" | translate
        }}</span></a
      >
    </div>
    <div class="panel-body">
      <p class="alert alert-success dashboard-description">
        {{ "DOWNLOAD-PANEL.TEXT" | translate }}
      </p>
    </div>
  </div>
</div>
