<div class="col-xs-12 col-sm-4 col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title content-center">{{ 'INFO.TITLE' | translate }}</h3></div>
		<div class="panel-body">
			<p class="label label-primary dashboard-horaire">{{ 'INFO.LINE1' | translate }}</p><br />
			<p class="label label-primary dashboard-horaire">{{ 'INFO.LINE2' | translate }}</p><br />
			<p class="label label-success dashboard-event">{{ 'INFO.LINE3' | translate }}</p><br />
			<p class="label label-success dashboard-event">{{ 'INFO.LINE4' | translate }}</p>
		</div>
	</div>
</div>
