<div class="col-xs-12 col-sm-4 col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title content-center">{{ 'INFO.TITLE' | translate }}</h3></div>
		<div class="panel-body">
			<aside>
				<ul class="footer-ul">
					<li class="label-horaire label-primary dashboard-horaire">{{ 'INFO.LINE1' | translate }}</li>
					<li class="label-horaire label-primary dashboard-horaire">{{ 'INFO.LINE2' | translate }}</li>
					<li class="label-horaire label-success dashboard-event">{{ 'INFO.LINE3' | translate }}</li>
					<li class="label-horaire label-success dashboard-event">{{ 'INFO.LINE4' | translate }}</li>
				</ul>
			</aside>
		</div>
	</div>
</div>
