<div class="container contact-container">
    <div class="row contact-header">
        <div class="col-xs-12">
            <h2>{{ 'CONTACT_PAGE.TITLE' | translate }}</h2>
            <p>{{ 'CONTACT_PAGE.SUBTITLE' | translate }}</p>
        </div>
    </div>

    <div class="row">
        <!-- Formulaire de contact -->
        <div class="col-xs-12 col-md-7">
            <div class="form-card">
                <div class="form-card-header">
                    <div class="email-container">
                        <span class="glyphicon glyphicon-envelope email-icon" aria-hidden="true"></span>
                        <div class="email-address">
                            <a href="mailto:{{ 'CONTACT_FORM.TITLE' | translate }}" title="Envoyer un email">
                                {{ 'CONTACT_FORM.TITLE' | translate }}
                            </a>
                            <button class="copy-email" ng-click="copyEmailToClipboard()" title="{{ 'CONTACT_FORM.EMAIL.COPY_BUTTON' | translate }}">
                                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                                <span class="hidden-xs">{{ 'CONTACT_FORM.EMAIL.COPY_BUTTON' | translate }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="form-card-body">
                    <form name="contactForm" ng-submit="Send(contactForm.$valid)" novalidate>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group has-feedback" ng-class="{ 'has-error' : contactForm.lastname.$invalid && !contactForm.lastname.$pristine , 'has-success': contactForm.lastname.$valid}">
                                    <label for="inputName">{{ 'CONTACT_FORM.FIELD_LASTNAME' | translate }}<span class="required-field">*</span></label>
                                    <input type="text" name="lastname" tabindex="1" class="form-control" placeholder="{{ 'CONTACT_FORM.FIELD_LASTNAME' | translate }}" ng-model="contact.lastname"  required />
                                    <span ng-show="contactForm.lastname.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span ng-show="contactForm.lastname.$invalid && !contactForm.lastname.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                    <div class="error-container" ng-show="contactForm.lastname.$invalid && !contactForm.lastname.$pristine">
                                        <small class="error" ng-show="contactForm.lastname.$error.required">
                                            {{ 'CONTACT_FORM.REQUIRED_FIELD_LASTNAME' | translate }}
                                        </small>
                                    </div>        
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group has-feedback" ng-class="{ 'has-error' : contactForm.firstname.$invalid && !contactForm.firstname.$pristine, 'has-success': contactForm.firstname.$valid }">
                                    <label for="inputName">{{ 'CONTACT_FORM.FIELD_FIRSTNAME' | translate }}<span class="required-field">*</span></label>
                                    <input type="text" name="firstname" tabindex="2" class="form-control" placeholder="{{ 'CONTACT_FORM.FIELD_FIRSTNAME' | translate }}" ng-model="contact.firstname"  required />
                                    <span ng-show="contactForm.firstname.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span ng-show="contactForm.firstname.$invalid && !contactForm.firstname.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                    <div class="error-container" ng-show="contactForm.firstname.$invalid && !contactForm.firstname.$pristine">
                                        <small class="error" ng-show="contactForm.firstname.$error.required">
                                            {{ 'CONTACT_FORM.REQUIRED_FIELD_FIRSTNAME' | translate }}
                                        </small>
                                    </div>        
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group has-feedback" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine, 'has-success': contactForm.email.$valid}">
                                    <label for="inputEmail">{{ 'CONTACT_FORM.FIELD_MAIL' | translate }}<span class="required-field">*</span></label>
                                    <input type="email" name="email" tabindex="3" class="form-control" placeholder="{{ 'CONTACT_FORM.FIELD_MAIL' | translate }}" ng-model="contact.email" required />
                                    <span ng-show="contactForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                    <div class="error-container" ng-show="contactForm.email.$invalid && !contactForm.email.$pristine">
                                        <small class="error" ng-show="contactForm.email.$error.required">
                                            {{ 'CONTACT_FORM.REQUIRED_FIELD_MAIL' | translate }}
                                        </small>
                                        <small class="error" ng-show="contactForm.email.$error.email">
                                            {{ 'CONTACT_FORM.VALID_FIELD_MAIL' | translate }}
                                        </small>
                                    </div>        
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputName">{{ 'CONTACT_FORM.FIELD_COMPANY' | translate }}</label>
                                    <input type="text" name="company" tabindex="4" class="form-control" placeholder="{{ 'CONTACT_FORM.FIELD_COMPANY' | translate }}" ng-model="contact.company" />        
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputName">{{ 'CONTACT_FORM.FIELD_PHONE' | translate }}</label>
                                    <input type="text" name="telephone" tabindex="5" class="form-control" placeholder="{{ 'CONTACT_FORM.FIELD_PHONE' | translate }}" ng-model="contact.telephone" />        
                                </div>
                            </div>
                        </div>

                        <div class="form-group has-feedback" ng-class="{ 'has-error' : contactForm.subject.$invalid && !contactForm.subject.$pristine, 'has-success': contactForm.subject.$valid}">
                            <label for="inputName">{{ 'CONTACT_FORM.FIELD_SUBJECT' | translate }}<span class="required-field">*</span></label>
                            <input type="text" name="subject" tabindex="6" class="form-control" placeholder="{{ 'CONTACT_FORM.FIELD_SUBJECT' | translate }}" ng-model="contact.subject"  required />
                            <span ng-show="contactForm.subject.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span ng-show="contactForm.subject.$invalid && !contactForm.subject.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <div class="error-container" ng-show="contactForm.subject.$invalid && !contactForm.subject.$pristine">
                                <small class="error" ng-show="contactForm.subject.$error.required">
                                    {{ 'CONTACT_FORM.REQUIRED_FIELD_SUBJECT' | translate }}
                                </small>
                            </div>        
                        </div>

                        <div class="form-group has-feedback" ng-class="{ 'has-error' : contactForm.message.$invalid && !contactForm.message.$pristine, 'has-success': contactForm.message.$valid}">
                            <label for="inputName">{{ 'CONTACT_FORM.FIELD_MESSAGE' | translate }}<span class="required-field">*</span></label>
                            <textarea rows="4" name="message" tabindex="7" class="form-control" placeholder="{{ 'CONTACT_FORM.FIELD_MESSAGE' | translate }}" ng-model="contact.message" required></textarea>
                            <span ng-show="contactForm.message.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span ng-show="contactForm.message.$invalid && !contactForm.message.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>        
                            <div class="error-container" ng-show="contactForm.message.$invalid && !contactForm.message.$pristine">
                                <small class="error" ng-show="contactForm.message.$error.required">
                                    {{ 'CONTACT_FORM.REQUIRED_FIELD_MESSAGE' | translate }}
                                </small>
                            </div>       
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn btn-contact-submit" ng-disabled="contactForm.$invalid">
                                <span class="glyphicon glyphicon-send" aria-hidden="true"></span> 
                                {{ 'CONTACT_FORM.BUTTON' | translate }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Informations de contact -->
        <div class="col-xs-12 col-md-5 contact-info-container">
            <div class="contact-card">
                <div class="contact-card-header">
                    <div class="icon-title">
                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                        <h3>{{ 'CONFIG.CONTACT' | translate }}</h3>
                    </div>
                </div>
                <div class="contact-card-body">
                    <div class="phone-contact-list">
                        <div class="phone-contact-item">
                            <div class="phone-contact-name">{{ 'CONFIG.MEMBER_ONE.NAME' | translate }}</div>
                            <div class="phone-contact-number">
                                <a href="tel:{{ 'CONFIG.MEMBER_ONE.TELEPHONE' | translate }}">
                                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 
                                    {{ 'CONFIG.MEMBER_ONE.TELEPHONE' | translate }}
                                </a>
                            </div>
                        </div>
                        
                        <div class="phone-contact-item">
                            <div class="phone-contact-name">{{ 'CONFIG.MEMBER_TWO.NAME' | translate }}</div>
                            <div class="phone-contact-number">
                                <a href="tel:{{ 'CONFIG.MEMBER_TWO.PORTABLE' | translate }}">
                                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 
                                    {{ 'CONFIG.MEMBER_TWO.PORTABLE' | translate }}
                                </a>
                            </div>
                        </div>
                        
                        <div class="phone-contact-item">
                            <div class="phone-contact-name">{{ 'CONFIG.MEMBER_THREE.NAME' | translate }}</div>
                            <div class="phone-contact-number">
                                <a href="tel:{{ 'CONFIG.MEMBER_THREE.TELEPHONE' | translate }}">
                                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 
                                    {{ 'CONFIG.MEMBER_THREE.TELEPHONE' | translate }}
                                </a>
                            </div>
                        </div>
                        
                        <div class="phone-contact-item">
                            <div class="phone-contact-name">{{ 'CONFIG.MEMBER_FOUR.NAME' | translate }}</div>
                            <div class="phone-contact-number">
                                <a href="tel:{{ 'CONFIG.MEMBER_FOUR.TELEPHONE' | translate }}">
                                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 
                                    {{ 'CONFIG.MEMBER_FOUR.TELEPHONE' | translate }}
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="address-container">
                        <div class="address-card">
                            <div class="address-content">
                                <div class="address-title">{{ 'CONFIG.SALON.LIEU' | translate }}</div>
                                <address>
                                    {{ 'CONFIG.SALON.ADDRESS.FIRSTLINE' | translate }}<br />                
                                    {{ 'CONFIG.SALON.ADDRESS.POSTALCODE' | translate }} {{ 'CONFIG.SALON.ADDRESS.CITY' | translate }}<br />
                                    {{ 'CONFIG.SALON.ADDRESS.COUNTRY' | translate }}
                                </address>
                            </div>
                            <iframe class="address-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2806.723151185784!2d4.818553150638102!3d45.29381585271558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f53db8e741fe4d%3A0x4ed660684ff29aff!2s15+Rue+du+Levant%2C+26140+Saint-Rambert-d&#39;Albon!5e0!3m2!1sfr!2sfr!4v1457193257153" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>