<!-- Exposant.html (Version moderne) -->
<div class="container-fluid directory-container">
  <div class="row">
    <!-- Section principale - Liste des exposants -->
    <div class="col-xs-12 col-sm-8 col-lg-8">
      <div class="directory-header">
        <h2 class="directory-title">{{ 'EXPOSANT_FORM.PANEL_TITLE' | translate }}</h2>
        <p class="directory-subtitle">{{ 'EXPOSANT_FORM.DESCRIPTION' | translate }}</p>
      </div>

      <!-- Barre de recherche -->
      <div class="search-container">
        <span class="glyphicon glyphicon-search search-icon" aria-hidden="true"></span>
        <input type="text" class="form-control search-input" ng-model="query" placeholder="{{ 'EXPOSANT_FORM.LABEL_SEARCH' | translate }}">
      </div>

      <!-- Message aucun résultat -->
      <div class="no-results" ng-if="(exposants | filter:query).length === 0">
        <div class="no-results-icon">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        </div>
        <h4>{{ 'DIRECTORY.NO_RESULTS' | translate }}</h4>
        <p>{{ 'DIRECTORY.TRY_ANOTHER_SEARCH' | translate }}</p>
      </div>

      <!-- Liste des exposants -->
      <div class="row">
        <div class="col-xs-12" ng-repeat="item in exposants | filter:query">
          <div class="entity-card">
            <div class="entity-header">
              <h3 class="entity-title">{{item.name}}</h3>
              <p class="entity-description" ng-if="item.description">{{item.description}}</p>
            </div>
            <div class="entity-body">
              <div class="info-grid">
                <!-- Contact -->
                <div class="info-item" ng-if="item.address.contact">
                  <div class="info-label">{{ 'DIRECTORY.CONTACT' | translate }}</div>
                  <div class="info-value">
                    <span class="glyphicon glyphicon-user info-icon" aria-hidden="true"></span>
                    {{item.address.contact}}
                  </div>
                </div>

                <!-- Téléphone -->
                <div class="info-item" ng-if="item.telephone">
                  <div class="info-label">{{ 'DIRECTORY.TELEPHONE' | translate }}</div>
                  <div class="info-value">
                    <span class="glyphicon glyphicon-phone-alt info-icon" aria-hidden="true"></span>
                    {{item.telephone}}
                  </div>
                </div>

                <!-- Adresse -->
                <div class="info-item" ng-if="item.address.firstline">
                  <div class="info-label">{{ 'DIRECTORY.ADDRESS' | translate }}</div>
                  <div class="info-value">
                    <span class="glyphicon glyphicon-home info-icon" aria-hidden="true"></span>
                    {{item.address.firstline}}
                  </div>
                </div>

                <!-- Portable -->
                <div class="info-item" ng-if="item.portable">
                  <div class="info-label">{{ 'DIRECTORY.MOBILE' | translate }}</div>
                  <div class="info-value">
                    <span class="glyphicon glyphicon-phone info-icon" aria-hidden="true"></span>
                    {{item.portable}}
                  </div>
                </div>

                <!-- Ville -->
                <div class="info-item" ng-if="item.address.postalCode || item.address.city">
                  <div class="info-label">{{ 'DIRECTORY.CITY' | translate }}</div>
                  <div class="info-value">
                    <span class="glyphicon glyphicon-map-marker info-icon" aria-hidden="true"></span>
                    {{item.address.postalCode}} {{item.address.city}}
                  </div>
                </div>

                <!-- Email -->
                <div class="info-item" ng-if="item.mail">
                  <div class="info-label">{{ 'DIRECTORY.EMAIL' | translate }}</div>
                  <div class="info-value">
                    <span class="glyphicon glyphicon-envelope info-icon" aria-hidden="true"></span>
                    <a href="mailto:{{item.mail}}" class="entity-link">{{item.mail}}</a>
                  </div>
                </div>

                <!-- Site Web -->
                <div class="info-item" ng-if="item.webSite">
                  <div class="info-label">{{ 'DIRECTORY.WEBSITE' | translate }}</div>
                  <div class="info-value">
                    <span class="glyphicon glyphicon-globe info-icon" aria-hidden="true"></span>
                    <a ng-href="http://{{item.webSite}}" target="_blank" class="entity-link">{{item.webSite}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="col-xs-12 col-sm-4 col-lg-4 sidebar-container">
      <!-- Carte de téléchargement -->
      <div class="shared-card">
        <div class="shared-card-header">
          <h3>{{ 'DOWNLOAD-PANEL.TITLE' | translate }}</h3>
        </div>
        <div class="download-card">
          <img src="img/icones/PDF-Icone.jpg" alt="Download" class="download-icon">
          <div>
            <a ng-href="download/Dossier inscription salon habitat 2026.pdf" target="_blank" class="download-button">
              {{ 'DOWNLOAD-PANEL.BUTTON' | translate }}
            </a>
          </div>
          <p class="download-text">{{ 'DOWNLOAD-PANEL.TEXT' | translate }}</p>
        </div>
      </div>

      <!-- Horaires -->
      <div class="shared-card">
        <div class="shared-card-header">
          <h3>{{ 'TIME.TITLE' | translate }}</h3>
        </div>
        <div class="shared-card-body">
          <ul class="schedule-list">
            <li class="schedule-item schedule-item-info">{{ 'TIME.LINE1' | translate }}</li>
            <li class="schedule-item schedule-item-warning">{{ 'TIME.LINE2' | translate }}</li>
            <li class="schedule-item schedule-item-info">{{ 'TIME.LINE3' | translate }}</li>
            <li class="schedule-item schedule-item-info">{{ 'TIME.LINE4' | translate }}</li>
            <li class="schedule-item schedule-item-warning">{{ 'TIME.LINE5' | translate }}</li>
          </ul>
        </div>
      </div>

      <!-- Informations -->
      <div class="shared-card">
        <div class="shared-card-header">
          <h3>{{ 'INFO.TITLE' | translate }}</h3>
        </div>
        <div class="shared-card-body">
          <ul class="schedule-list">
            <li class="schedule-item schedule-item-primary">{{ 'INFO.LINE1' | translate }}</li>
            <li class="schedule-item schedule-item-primary">{{ 'INFO.LINE2' | translate }}</li>
            <li class="schedule-item schedule-item-success">{{ 'INFO.LINE3' | translate }}</li>
            <li class="schedule-item schedule-item-success">{{ 'INFO.LINE4' | translate }}</li>
          </ul>
        </div>
      </div>

      <!-- Contacts -->
      <div class="shared-card">
        <div class="shared-card-header">
          <h3>{{ 'CONFIG.CONTACT' | translate }}</h3>
        </div>
        <div class="shared-card-body">
          <ul class="contact-list">
            <li class="contact-item">
              <div class="contact-name">{{ 'CONFIG.MEMBER_ONE.NAME' | translate }}</div>
              <div class="contact-phone">
                <a href="tel:{{ 'CONFIG.MEMBER_ONE.TELEPHONE' | translate }}">{{ 'CONFIG.MEMBER_ONE.TELEPHONE' | translate }}</a>
              </div>
            </li>
            <li class="contact-item">
              <div class="contact-name">{{ 'CONFIG.MEMBER_TWO.NAME' | translate }}</div>
              <div class="contact-phone">
                <a href="tel:{{ 'CONFIG.MEMBER_TWO.PORTABLE' | translate }}">{{ 'CONFIG.MEMBER_TWO.PORTABLE' | translate }}</a>
              </div>
            </li>
            <li class="contact-item">
              <div class="contact-name">{{ 'CONFIG.MEMBER_THREE.NAME' | translate }}</div>
              <div class="contact-phone">
                <a href="tel:{{ 'CONFIG.MEMBER_THREE.TELEPHONE' | translate }}">{{ 'CONFIG.MEMBER_THREE.TELEPHONE' | translate }}</a>
              </div>
            </li>
            <li class="contact-item">
              <div class="contact-name">{{ 'CONFIG.MEMBER_FOUR.NAME' | translate }}</div>
              <div class="contact-phone">
                <a href="tel:{{ 'CONFIG.MEMBER_FOUR.TELEPHONE' | translate }}">{{ 'CONFIG.MEMBER_FOUR.TELEPHONE' | translate }}</a>
              </div>
            </li>
          </ul>
          
          <address>
            <strong>{{ 'CONFIG.SALON.LIEU' | translate }}</strong><br>
            {{ 'CONFIG.SALON.ADDRESS.FIRSTLINE' | translate }}<br>
            {{ 'CONFIG.SALON.ADDRESS.POSTALCODE' | translate }} {{ 'CONFIG.SALON.ADDRESS.CITY' | translate }}<br>
            {{ 'CONFIG.SALON.ADDRESS.COUNTRY' | translate }}
          </address>
          
          <div class="location-map-container">
            <iframe class="location-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2806.723151185784!2d4.818553150638102!3d45.29381585271558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f53db8e741fe4d%3A0x4ed660684ff29aff!2s15+Rue+du+Levant%2C+26140+Saint-Rambert-d&#39;Albon!5e0!3m2!1sfr!2sfr!4v1457193257153" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
