<div class="container-fluid">

	<div class="col-xs-12 col-sm-8 col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading panel-center"><span class="panel-title title-email">{{ 'CONTACT_FORM.TITLE' | translate }}</span></div>
			<div class="panel-body">
				
				<form name="contactForm" ng-submit="Send(contactForm.$valid)" novalidate>

					    <div class="form-group has-feedback" ng-class="{ 'has-error' : contactForm.lastname.$invalid && !contactForm.lastname.$pristine , 'has-success': contactForm.lastname.$valid}">
					    	<label for="inputName">{{ 'CONTACT_FORM.FIELD_LASTNAME' | translate }}<span class="required">*</span></label>
					        <input type="text" name="lastname" tabindex="1" class="form-control" placeholder="{{ 'CONTACT_FORM.FIELD_LASTNAME' | translate }}" ng-model="contact.lastname"  required />
					        <span ng-show="contactForm.lastname.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span ng-show="contactForm.lastname.$invalid && !contactForm.lastname.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					        <div class="error-container" ng-show="contactForm.lastname.$invalid && !contactForm.lastname.$pristine">
						    <small class="error" 
						        ng-show="contactForm.lastname.$error.required">
						        {{ 'CONTACT_FORM.REQUIRED_FIELD_LASTNAME' | translate }}.
						    </small>
						  </div>		        
					    </div>

					    <div class="form-group has-feedback" ng-class="{ 'has-error' : contactForm.firstname.$invalid && !contactForm.firstname.$pristine, 'has-success': contactForm.firstname.$valid }">
					        <label for="inputName">{{ 'CONTACT_FORM.FIELD_FIRSTNAME' | translate }}<span class="required">*</span></label>
					        <input type="text" name="firstname" tabindex="1" class="form-control" placeholder="{{ 'CONTACT_FORM.FIELD_FIRSTNAME' | translate }}" ng-model="contact.firstname"  required />
					        <span ng-show="contactForm.firstname.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span ng-show="contactForm.firstname.$invalid && !contactForm.firstname.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					        <div class="error-container" ng-show="contactForm.firstname.$invalid && !contactForm.firstname.$pristine">
						    <small class="error" 
						        ng-show="contactForm.firstname.$error.required">
						        {{ 'CONTACT_FORM.REQUIRED_FIELD_FIRSTNAME' | translate }}
						    </small>
						  </div>		        
					    </div>

					    <div class="form-group has-feedback" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine, 'has-success': contactForm.email.$valid}">
					        <label for="inputEmail">{{ 'CONTACT_FORM.FIELD_MAIL' | translate }}<span class="required">*</span></label>
					        <input type="email" name="email" tabindex="1" class="form-control" placeholder="{{ 'CONTACT_FORM.FIELD_MAIL' | translate }}" ng-model="contact.email" required />
					        <span ng-show="contactForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					        <div class="error-container" ng-show="contactForm.email.$invalid && !contactForm.email.$pristine">
						    <small class="error" 
						        ng-show="contactForm.email.$error.required">
						        {{ 'CONTACT_FORM.REQUIRED_FIELD_MAIL' | translate }}
						    </small>
			 				<small class="error" ng-show="contactForm.email.$error.email">
			             		{{ 'CONTACT_FORM.VALID_FIELD_MAIL' | translate }}
			      			</small>
						  </div>		        
					    </div>

					    <div class="form-group">
					        <label for="inputName">{{ 'CONTACT_FORM.FIELD_COMPANY' | translate }}</label>
					        <input type="text" name="company" tabindex="1" class="form-control" placeholder="{{ 'CONTACT_FORM.FIELD_COMPANY' | translate }}" ng-model="contact.company" />		        
					    </div>

					    <div class="form-group">
					        <label for="inputName">{{ 'CONTACT_FORM.FIELD_PHONE' | translate }}</label>
					        <input type="text" name="telephone" tabindex="1" class="form-control" placeholder="{{ 'CONTACT_FORM.FIELD_PHONE' | translate }}" ng-model="contact.telephone" />		        
					    </div>

					    <div class="form-group has-feedback" ng-class="{ 'has-error' : contactForm.subject.$invalid && !contactForm.subject.$pristine, 'has-success': contactForm.subject.$valid}">
					        <label for="inputName">{{ 'CONTACT_FORM.FIELD_SUBJECT' | translate }}<span class="required">*</span></label>
					        <input type="text" name="subject" tabindex="1" class="form-control" placeholder="{{ 'CONTACT_FORM.FIELD_SUBJECT' | translate }}" ng-model="contact.subject"  required />
					        <span ng-show="contactForm.subject.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span ng-show="contactForm.subject.$invalid && !contactForm.subject.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					        <div class="error-container" ng-show="contactForm.subject.$invalid && !contactForm.subject.$pristine">
						    <small class="error" 
						        ng-show="contactForm.subject.$error.required">
						        {{ 'CONTACT_FORM.REQUIRED_FIELD_SUBJECT' | translate }}
						    </small>
						  </div>		        
					    </div>

					    <div class="form-group has-feedback" ng-class="{ 'has-error' : contactForm.message.$invalid && !contactForm.message.$pristine, 'has-success': contactForm.message.$valid}">
					        <label for="inputName">{{ 'CONTACT_FORM.FIELD_MESSAGE' | translate }}<span class="required">*</span></label>
					        <textarea rows="4" name="message" tabindex="1" class="form-control" placeholder="{{ 'CONTACT_FORM.FIELD_MESSAGE' | translate }}" ng-model="contact.message" required/>
					        <span ng-show="contactForm.message.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span ng-show="contactForm.message.$invalid && !contactForm.message.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>		
					        <div class="error-container" ng-show="contactForm.message.$invalid && !contactForm.message.$pristine">
						    <small class="error" 
						        ng-show="contactForm.message.$error.required">
						        {{ 'CONTACT_FORM.REQUIRED_FIELD_MESSAGE' | translate }}
						    </small>
						  </div>       
					    </div>

					    <button type="submit" class="btn btn-primary btnContact" ng-disabled="contactForm.$invalid">{{ 'CONTACT_FORM.BUTTON' | translate }}</button>
				</form>
			</div>
		</div>
	</div>

	<!-- inject:contact-panel -->
	<!-- endinject -->

</div>