<div class="container">

	<div class="row">

		<div class="col-xs-12 col-sm-8 col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title content-center">{{ 'DASHBOARD.MAIN_TITLE' | translate }}</h3></div> 
				<div class="panel-body alert alert-success content-center"><h4>{{ 'DASHBOARD.BODY_TITLE' | translate }}</h4></div>

				<!-- inject:carousel-salon -->
	    		<!-- endinject -->			

				<div class="panel-body"><p class="alert alert-success dashboard-description">{{ 'DASHBOARD.BODY_TEXT' | translate }}</p></div>
			</div>	
		</div>

		<!-- inject:download-panel -->
	    <!-- endinject -->		

		<!-- inject:time-panel -->
	    <!-- endinject -->
		
		<!-- inject:info-panel -->
	    <!-- endinject -->		
	</div>

	<div class="row">
	    <div class="col-xs-12 col-md-12 col-lg-12">
	        <div class="col-md-3">
		        <h3>{{ 'CONFIG.SALON.TITLE' | translate }}</h3>
			    <address>
			        <strong>{{ 'CONFIG.SALON.LIEU' | translate }}</strong><br />
			            	{{ 'CONFIG.SALON.ADDRESS.FIRSTLINE' | translate }}<br />	                
			                {{ 'CONFIG.SALON.ADDRESS.POSTALCODE' | translate }}<br />
			                {{ 'CONFIG.SALON.ADDRESS.CITY' | translate }}<br />
			                {{ 'CONFIG.SALON.ADDRESS.COUNTRY' | translate }}<br>
			    </address>
	        </div>
	        <div class="col-md-9">
	    		<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2806.723151185784!2d4.818553150638102!3d45.29381585271558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f53db8e741fe4d%3A0x4ed660684ff29aff!2s15+Rue+du+Levant%2C+26140+Saint-Rambert-d&#39;Albon!5e0!3m2!1sfr!2sfr!4v1457193257153" frameborder="0" style="border:0" allowfullscreen></iframe>
	    	</div>
	    </div>
	</div>

	<div class="row">
		<div ng-repeat="movie in DashMovies" class="col-xs-12 col-sm-4">
		  	<div class="thumbnail">
		    	<div class="embed-responsive embed-responsive-16by9">
		    		<iframe width="420" height="315" ng-src="{{ movie | trusted }}"></iframe>
				</div>
		  	</div>
		</div>
	</div>		
</div>