<!DOCTYPE html>
<html lang="en" ng-app="olippApp">
<head>
  <title>Salon Tout pour l'habitat</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Favicon-->
  <link href="img/favicon.ico" rel="icon" type="image/x-icon" />

  <!-- jquery & bootsrap -->
  <script src="libs/jquery.js"></script>
  <script src="libs/bootstrap.js"></script>

  <!-- Stylesheets -->
  <link href="css/salon.css" rel="stylesheet" media="screen">
  <link href="css/angular-block-ui.min.css" rel="stylesheet" media="screen">
  <link href="css/ng-notify.min.css" rel="stylesheet" media="screen">

  <script src="libs/angular.js"></script>
  <script src="libs/angular-route.js"></script>
  <script src="libs/angular-resource.js"></script>
  <script src="libs/angular-block-ui.min.js"></script>
  <script src="libs/ng-notify.min.js"></script>
  <script src="libs/angular-translate.js"></script>
  <script src="libs/angular-translate-loader-url.js"></script>
  <!-- <script src="libs/salon.js"></script> -->
  <script src="libs/app.js"></script>
  <script src="libs/controllers/controllers.js"></script>
  <script src="libs/directives/directives.js"></script>
  <script src="libs/filters/filters.js"></script>
  <script src="libs/services/SalonServices.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47567840-3', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

  <header>

    <!-- inject:header -->
    <!-- endinject -->

    <!-- inject:navbar -->
    <!-- endinject -->

    <!-- inject:carousel -->
    <!-- endinject -->
      
  </header>

  <div class="view-container">
    <div ng-view class="view-frame">
    </div>
  </div>

  <footer>

    <!-- inject:footer -->
    <!-- endinject -->
    
  </footer>

</body>
</html>
